/* AndroidExo CSS Style for Global
 * By AndroidExo */


/* import CSS library */

@import url('thaisans.css');
@import url('materialicon.css');

/* Global Configuration */

html {
    font-family: "ThaiSans Neue";
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

main > .row {
    margin: 20px 0px;
}

main > .row:last-child {
    margin-bottom: 0px;
}

main > .row:last-child > .row {
    margin-bottom: 0;
}


/* CSS Helper */


/* ------------------------------ Sections ---------------------------------- */


/* Introduction */

#introduction {
    height: 100vh;
    background-image: url('../images/background/background-introduction-material.png');
    background-position: 50%;
}

#introduction .video-container {
    max-width: 720px;
    height: auto;
    margin: 0 auto;
}
@media only screen and (max-width: 675px) {
    nav .nav-list {
        display: none;
    }
}

#menu-more {
    min-width: 200px;
}


/* Highlight */

#highlight > .row {
    margin: 0;
}

#highlight > .row:last-child {
    margin-bottom: 20px;
}

#highlight .card {
    max-width: 240px;
    margin: 0 auto;
    margin-bottom: 20px;
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    #highlight .col.m6:nth-child(even) > .card {
        margin-left: 0px;
    }
    #highlight .col.m6:nth-child(odd) > .card {
        margin-right: 0px;
    }
}


/* Statistic */

.card-panel > div {
    padding: 0px 20px;
}

.statCard > .statCount {
    border-radius: inherit;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card-panel.statCard {
    padding: 0px;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 5px 5px 0px 0px !important;
    height: 100%;
}

.col > .statCard-wrapper {
    flex: 1;
}

.card.statCard > .card-panel {
    margin: none;
}

.statDesciption {
    font-weight: 300;
    font-size: 1.25rem;
    text-align: center;
}

.statCount {
    display: block;
    vertical-align: middle;
    width: auto;
    font-size: 1.5rem;
    text-align: center;
    height: auto;
    position: relative;
}

.statCount .count {
    font-size: 1.5em;
}


/* Feedback */

#quoteFeedback .carousel-cell {
    width: 400px;
    margin-right: 20px;
}

#quoteFeedback .flickity-page-dots {
    bottom: -8px;
}

#quoteFeedback .flickity-prev-next-button {
    background: transparent opacity: .25;
    transition: opacity .5s ease-out;
}

#quoteFeedback .flickity-prev-next-button:hover {
    opacity: 1;
}


/* Location */

#location-map {
    width: 100%;
    height: 300px;
}


/* Sponsor */

#sponsor > h2 {
    font-size: 2.5rem;
}

#logo-brand .carousel-cell {
    width: 240px;
    height: 80px;
    margin-right: 20px;
}

#logo-brand .flickity-prev-next-button {
    background: transparent;
}

#logo-brand .carousel-cell img {
    filter: grayscale(50%);
    -webkit-filter: grayscale(50%);
    -moz-filter: grayscale(50%);
    transition: filter, -webkit-filter, -moz-filter 1s, 1s, 1s ease-out, ease-out, ease-out;
}

#logo-brand .carousel-cell img:hover,
#logo-brand .carousel-cell.is-selected img {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
}


/* Contact */

#contact.row {
    margin-top: 20px;
}

#contact-form {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#contact-form .col div {
    max-width: 720px;
    margin: 0 auto;
}

#contact-form .col .row {
    margin-bottom: 5px;
}

#contact-form-title {
    padding: 20px;
    margin-bottom: 0px;
}

#contact-form-body {
    display: none;
    margin-bottom: 0px;
}

#contact-form-body .container > div {
    padding: 20px;
}

#contact-progress {
    border: 1px #ddd solid;
    border-radius: 2px;
    padding: 10px;
}

#contact-formarea .row {
    margin-bottom: 0px;
}

#contact-formarea .input-field label {
    color: #558b2f;
}

#contact-formarea .input-field input,
#contact-formarea textarea.materialize-textarea {
    border-bottom: 1px solid #558b2f;
}

#contact-formarea .input-field input:focus,
#contact-formarea textarea.materialize-textarea:focus {
    border-bottom: 1px solid #f50057;
}

#contact-formarea .input-field input:focus ~ label,
#contact-formarea textarea.materialize-textarea:focus ~ label {
    color: #f50057;
}

#contact-formarea .input-field input.valid,
#contact-formarea textarea.materialize-textarea.valid {
    border-bottom: 1px solid #4caf50;
}

#contact-formarea .input-field input.invalid,
#contact-formarea textarea.materialize-textarea.invalid {
    border-bottom: 1px solid #f44336;
}

#contact-formarea .divider,
#contact-formarea ~ .divider {
    margin-bottom: 20px !important;
}

#contact-action button {
    margin-top: 7.5px;
}

#contact-progress {
    display: none;
}

#contact-progress p {
    margin-top: 0;
}


/* Footer */

footer.page-footer {
    margin-top: 0px;
}


/* ---------------------------- Components ---------------------------------- */


/* Go to Top Button */

#goTop {
    display: none;
}


/* Quote Card */

div.card.quote-card {
    padding: 20px;
    padding-left: 50px;
    position: relative;
    overflow: hidden;
    min-height: 120px;
}

div.card.quote-card p {
    font-size: 1.25rem;
    line-height: 1.5;
    margin: 0;
    max-width: 80%;
}

div.card.quote-card cite {
    font-size: 16px;
    margin-top: 10px;
    display: table;
    font-weight: 200;
    opacity: 0.8;
}

div.card.quote-card cite img.citation-profile {
    float: left;
    width: 36px;
}

div.card.quote-card cite div.citation-text {
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
    height: inherit;
}

div.card.quote-card cite:before {
    font-family: Georgia, serif;
    content: "\201C";
    position: absolute;
    top: -10px;
    left: 10px;
    font-size: 5em;
    font-weight: normal;
}

div.card.quote-card cite:after {
    font-family: Georgia, serif;
    content: "\201D";
    position: absolute;
    bottom: -110px;
    line-height: 100px;
    right: 16px;
    font-size: 25em;
    font-weight: normal;
}

@media screen and (max-width: 640px) {
    div.card.quote-card cite:after {
        font-size: 22em;
        right: 25px;
    }
}


/* ----------------------- MaterializeCSS Customization --------------------- */


/* Materialize: Navbar */

nav .button-collapse i {
    font-size: 2rem;
}

nav .brand-logo {
    font-size: 1.5rem;
    left: 15px;
}

.side-nav li a {
    overflow: hidden;
}

@media only screen and (min-width: 676px) {
    .button-collapse {
        display: none;
    }
    nav .brand-logo.left {
        left: 16px !important;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    nav .brand-logo.left {
        left: 64px;
    }
    nav .button-collapse {
        width: 64px;
    }
}

@media only screen and (max-width: 600px) {
    nav .brand-logo.left {
        left: 56px;
    }
    nav .button-collapse {
        width: 56px;
    }
}


/*Materialize: Form*/

.character-counter {
    position: relative;
    top: -20px;
}


/* Materialize: Button */

.fixed-action-btn {
    bottom: 45px;
    right: 24px;
    z-index: 996;
}


/* ---------------------- animate.css Customization ------------------------- */

h2.animated {
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
